
h1 {
  background-color: indigo;
  color: white;
  font-family: sans-serif; 
  font-size: 2em; 
  text-align: center;
  padding: 1em; 
  margin: 0; 
  border-bottom: 1px solid white; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

form {
  margin-top: 20px;
}

input, button {
  padding: 10px;
  margin-right: 10px;
}

button {
  background-color: lightslategray;
  color: white;
  border: none;
  cursor: pointer;
}

input[type="text"] {
  width: 20em; 
}
.add-transaction-btn {
  display: block;
  margin: auto;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  width: 30em;
}

.search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px; 
}

.search-input {
  width: 100%; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  background-color: lightslategray;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-left: 10px; 
  cursor: pointer;
  font-weight: bold;
}

